# Node.js-related
node_modules/
.cache/
*.log

# Build artifacts
build/
dist/
*.map

# Environment files
.env
.env.local

# Track these front-end files
!/frontend
!/frontend/public
!/frontend/public/*
!/frontend/DockerFile
!/frontend/README.md
!/frontend/src
!/frontend/src/*.css
!/frontend/package-lock.json
!/frontend/package.json