# Ignore everything
*

# Track These API Files
!/src/
!/src/app/
!/src/app/*.py
!/src/app/README.md


# Track these front-end files
!/frontend/src/*.css
!/Front-End/src/README.md



# Explicitly Ignore These
venv/Scripts/