# Ignore Everything
*

# Track These Database Files
!/Database/
!/Database/README.md
!/Database/src/
!/Database/src/*.py

# Track These API Files
!/API/

# Track These Front-End Files
!/frontend/
!/frontend/src



