# Ignore everything
*

# Track These Front-End Files
!/frontend/
!/frontend/README.md

# Track These API Files
!/src/
!/src/app/
!/src/app/*.py

!/src/tests/
!/src/tests/*.py


# Explicitly Ignore These
venv/Scripts/