# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore any local database files (if you have SQLite or any local DB files)
*.sqlite3
*.db

# Ignore virtual environment folders
venv/
env/

# Ignore Docker-related files for local dev
docker-compose.override.yml

# Ignore database logs
*.log